/*lot of css declarations are inside the custom jquery mobile css file */

#picture{
    background-color:#A23138 ;
    border-radius:20px;
    height:120px;
    margin-bottom:20px;
    padding:0;
}


body{
    color: #6c6c6c;
    background-color:#fff;

}


.white{
    color:#fff;
}



/* Individual Page Declarations */
.individual h2{
    
    margin:0;
    padding:0px 0px 15px 0px;
}

.individual h4{
    margin:0;
    padding:0;
}

.individual p{
    margin:5px 0 0px 0;
    padding:px;
}

.individual #redArea table{
    border-color:#ecedee;
    color:#fff;
    text-align:left;
    width:100%;
    
}
.individual #redArea td{
    margin:0;
}
.individual #redArea th{
    background-color:;
    color:#fff;
    font-weight:bold;
    margin:0;
    padding:5px 0px 0px 0px;
    text-align:left;
}
.individual #description{
    border-bottom:3px solid #ecedee;
    padding-bottom:5px;
}
.individual #redArea{
    background-color:#a23138;
        width:100%;
    
}

.individual #redArea #content{
      background-color:#a23138;
}

.individual .addInfo table {
    margin:0px 0px 0px 0px;
    padding:0;
    border-spacing:0;
    border:1px solid #a23138;
    width:100%;
}
.individual .addInfo table td{
    border:1px solid #a23138 ;
    padding:2px;
    width:60%;
}

.individual .addInfo table td .quarter{
    width:20%;
}

.center {text-align:center;}
.addInfo table .title{  color:#fff;  background:#a23138;}



.individual #redArea table .center{
    text-align:center;
}

.individual #redArea table th .center{
    text-align:center;
}
.individual .bold{
    font-weight:bold;
}
.individual .red{
    color:#a23138;
}
.individual .block{
    display:block;
}

.individual input{
    margin-top:10px;
}






/* filter popup declarations */ 
#popupPanel-popup {
    right: 0 !important;
    left: auto !important;
}
#popupPanel {
    width: 210px;
    
    border: 3px solid #fff;
    border-right: none;
    background: #a23138;
    margin: -10px 0;
    padding:10px;
}

#popupPanel-screen{
     background: #6c6c6c;;
}
#popupPanel .ui-btn {
  
}




/* login page*/
#login{
    background-color: #a23138;
    color:#fff;    
}

#pictureFrame{
width:100%;
height:95px;
background-color:#fff;
margin-top:60px;
border-bottom:8px solid #6c6c6c;
}
#pictureFrame img{margin-top:20px;margin-left:20px;}


#login h3{margin:0; padding:0; margin-top:5px; margin-bottom:10px;}

/* end of login page */



